<mat-toolbar color="primary">
  <span>angular-mgl-timeline demo</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent" (click)="getModal()">Modal</button>
</mat-toolbar>
